
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Members-Only</title>
</head>
<body>
    <header>    
        <% if(user){%>
            <h2 style="grid-area: nav-title;">welcome back <%= user.first_name %></h2>
        <% } else { %>
            <h2 style="grid-area: nav-title; justify-self:start; margin-left: 10px;"> Guest mode</h2>
        <%}%>
        <button id="nav-btn" style="font-size: 24px;">☰</button>
        <nav aria-label="navigation" id="top-nav">
            <% if(!user){%>
                <a href="/log-in">Log in</a> 
                <a href="/sign-up">register</a>  
            <% } %>
            <% if(user){ %>
                <% if(user.member_status){ %>
                <form method="post" action="/auth/acticate-admin" id="admin-mode">
                    <button>
                        <%= !user.is_admin ? 'turn admin mode on' : 'turn admin mode off' %>
                    </button>
                </form>     
                <% } else { %>
                    <button id="membership-btn" style="grid-area: membership-btn; justify-self: center;">activate membership</button>
                <% } %>
                <a href="/auth/log-out" style="grid-area: logout-utl;">Log out</a>
            <% } %>
            
            </nav>
    </header>
    <!--header script-->
    <script>
        const navBtn = document.getElementById('nav-btn');
        const navOptions = document.getElementById('top-nav');
        navBtn.addEventListener('click',()=>{
            navOptions.style.display === 'none'?  navOptions.style.display = 'block' : navOptions.style.display = 'none';
        })
        navBtn.addEventListener('')
         
    </script>
    <main class="main-container">        
        <section class="message-board">
        <ul style="list-style: none;">

                <% if( messages === undefined || messages.length === 0){  %>
                    <li>no messages currently</li>
                <% } else{ %>
                    <% messages.forEach(msg =>{ %>
                        <li class="msg-card">
                            <div>
                                @<div style="grid-area: user; color: rgb(164, 165, 168); display: inline;"><%= msg.username? msg.username : '----' %></div>
                            </div>
                            <div style="grid-area: title; color: rgb(164, 165, 168);"><%= msg.title?  msg.title : ''%></div>
                            <p style="grid-area: content; font-size: 18px;"><%= msg.content %></p>
                            <div style="grid-area: date; color: rgb(164, 165, 168); font-size: 13px;">
                                <%= msg.posted_on?  msg.posted_on.toLocaleString('en-GB', {
                                    day: '2-digit',
                                    month: 'short',
                                    year: 'numeric',
                                    hour: '2-digit',
                                    minute: '2-digit'
                                }) :
                                "----" %></div>
                            <% if(user && user.member_status && user.is_admin){ %>
                            <div class="msg-delete" style="grid-area: delete;">
                                <form method="post" action="/msg/delete">
                                    <input type="hidden" name="msgId" value="<%= msg.id %>">
                                    <button >delete</button>
                                </form>
                            </div>
                            <% } %>
                        </li>
                
                    <% }) %>
                <% } %>
            </ul>
        </section>
        <% if(user){ %>
        <section id="add-msg">
            <form method="post" action="/msg/send" class="add-msg-form">
                <input style="grid-area: msg-title;" type="text" name="title" placeholder="title goes here" maxlength="15" minlength="2" required >
                <textarea style="grid-area: msg-content;" name="content" placeholder="your message here ..." maxlength="250" minlength="1"required></textarea>
                <button class="send-msg-btn" style="grid-area: msg-send; justify-self: center; align-self: center; padding: 30px;">send</button>
            </form>

        </section>
        <% } %>
        <% if(user){ %>
        <dialog id="membership-dialog">
            <form method="POST" action="/auth/activate-member">

                <label for="memberCode">activation code: </label>
                <input type="hidden" name="memberCode" value="<%= user.id %>">
                <button> activate membership</button>
                <button type="button" id="exit-dialog">cancel</button>
            </form>
        </dialog>

        <script>
            const openDialogBtn = document.getElementById('membership-btn');
            const dialog = document.getElementById('membership-dialog');
            const exitDialogBtn = document.getElementById('exit-dialog');

            openDialogBtn.addEventListener('click',()=>{
                dialog.showModal();
            })
            exitDialogBtn.addEventListener('click',()=>{
                dialog.close();
            })

        </script>
        <% } %>

    </main>
</body>
</html>